* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("images/controle-de-tarefas.png");
}

#creat-acount {
  text-decoration: none;
  color: black;
  text-align: center;
}

#creat-acount:link,
#creat-acount:visited {
  color: rgb(19, 198, 9);
  text-decoration: none;
}

.acount {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 17px;
  align-items: center;
}

.acount:hover {
  transform: scale(1.1);
  color: rgb(19, 198, 9);
}

#title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(19, 198, 9);
}

#subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(19, 198, 9);
}

#grao1 {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 0;
  top: 152px;
  left: 510px;
  animation: surgirGr1 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#grao2 {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 0;
  top: 152px;
  left: 530px;
  animation: surgirGr2 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#grao3 {
  position: absolute;
  width: 33px;
  height: 33px;
  z-index: 0;
  top: 152px;
  left: 455px;
  animation: surgirGr3 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#grao4 {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 0;
  top: 148px;
  left: 540px;
  animation: surgirGr4 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#grao5 {
  position: absolute;
  width: 35px;
  height: 35px;
  z-index: 0;
  top: 150px;
  left: 525px;
  animation: surgirGr5 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#vapor-aparecer {
  position: absolute;
  width: 90px;
  height: 100px;
  z-index: 999;
  top: 156px;
  left: 778px;
  animation: surgir 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}

#vapor-aparecer2 {
  position: absolute;
  width: 60px;
  height: 70px;
  z-index: 999;
  top: 165px;
  left: 776px;
  animation: surgir2 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
  transform: rotate(40deg)
}


@keyframes surgir {
  0% {
    opacity: 0;
    transform: rotate(0deg)
  }

  15% {
    opacity: 0.3;
    transform: rotate(-5deg);
    top: 150px;
    left: 778px;
  }

  30% {
    opacity: 0.6;
    transform: rotate(5deg);
    top: 142px;
    left: 778px;
  }

  50% {
    opacity: 0.3;
    transform: rotate(10deg);
    top: 130px;
  }

  60% {
    opacity: 0.7;
    transform: rotate(5deg);
    top: 125px;
  }

  70% {
    opacity: 0.4;
    transform: rotate(0deg);
    top: 120px;
  }

  80% {
    opacity: 0.7;
    transform: rotate(-5deg);
    top: 110px;
  }

  90% {
    opacity: 0.3;
    transform: rotate(0deg);
    top: 100px;
  }

  100% {
    opacity: 0.1;
    transform: rotate(5deg);
    top: 95px;
  }
}


@keyframes surgir2 {
  0% {
    opacity: 0;
    transform: rotate(0deg)
  }

  20% {
    opacity: 0.3;
    transform: rotate(-10deg);
    top: 170px;
    left: 778px;
  }

  40% {
    opacity: 0.7;
    transform: rotate(-25deg);
    top: 160px;
  }

  60% {
    opacity: 1;
    transform: rotate(-20deg);
    top: 155px;
  }

  80% {
    opacity: 0.7;
    transform: rotate(-18deg);
    top: 140px;
  }

  90% {
    opacity: 0.3;
    transform: rotate(-15deg);
    top: 135px;
  }

  100% {
    opacity: 0.1;
    transform: rotate(-10deg);
    top: 125px;
  }

}

/* //GRÃO 1 */
@keyframes surgirGr1 {
  0% {
    z-index: 1;
    transform: rotate(50deg);
    transform: rotate(45deg);
    top: 155px;
    left: 510px;
  }

  20% {
    transform: rotate(35deg);
    transform: rotate(60deg);
    top: 170px;
    left: 530px;
  }

  40% {
    transform: rotate(90deg);
    top: 190px;
    left: 510px;
  }

  70% {
    top: 210px;
    left: 500px;
  }

  100% {
    z-index: 1;
    top: 230px;
    left: 505px;
  }
}

/* //GRÃO 2 */
@keyframes surgirGr2 {
  0% {
    z-index: 1;
    transform: rotate(30deg);
    transform: rotate(25deg);
    top: 155px;
    left: 520px;
  }

  20% {
    transform: rotate(35deg);
    transform: rotate(30deg);
    top: 160px;
    left: 525px;
  }

  40% {
    transform: rotate(20deg);
    top: 170px;
    left: 535px;
  }

  70% {
    top: 180px;
    left: 530px;
  }

  100% {
    z-index: 1;
    top: 185px;
    left: 525px;
  }
}


/* //GRÃO 3 */
@keyframes surgirGr3 {
  0% {
    z-index: 1;
    transform: rotate(10deg);
    transform: rotate(15deg);
    top: 155px;
    left: 460px;
  }

  20% {
    transform: rotate(20deg);
    transform: rotate(15deg);
    top: 160px;
    left: 475px;
  }

  40% {
    transform: rotate(20deg);
    top: 170px;
    left: 480px;
  }

  70% {
    top: 180px;
    left: 490px;
  }

  100% {
    z-index: 1;
    top: 185px;
    left: 500px;
  }
}

/* //GRÃO 4 */
@keyframes surgirGr4 {
  0% {
    z-index: 1;
    transform: rotate(5deg);
    transform: rotate(10deg);
    top: 165px;
    left: 540px;
  }

  20% {
    transform: rotate(15deg);
    transform: rotate(10deg);
    top: 170px;
    left: 535px;
  }

  40% {
    transform: rotate(20deg);
    top: 180px;
    left: 530px;
  }

  70% {
    top: 190px;
    left: 538px;
  }

  100% {
    z-index: 1;
    top: 195px;
    left: 545px;
  }
}

/* //GRÃO 5 */
@keyframes surgirGr5 {
  0% {
    z-index: 1;
    transform: rotate(50deg);
    transform: rotate(45deg);
    top: 175px;
    left: 515px;
  }

  20% {
    transform: rotate(40deg);
    transform: rotate(45deg);
    top: 185px;
    left: 520px;
  }

  40% {
    transform: rotate(50deg);
    top: 190px;
    left: 525px;
  }

  70% {
    top: 198px;
    left: 520px;
  }

  100% {
    z-index: 1;
    top: 205px;
    left: 530px;
  }
}